.progress-bar-shell {
  margin: 25px auto;
  width: 600px;
  height: 40px;
  border: 5px solid white;
  border-radius: 10px;
}

.progress-bar {
  margin: auto;
  background-color: white;
  height: 40px;
  border: 5px solid white;
  border-radius: 10px;
}