.front {
  background-color: purple;
  width: 150px;
  height: 150px;
  margin: auto;
  border: 3px solid white;
  border-radius: 35px;
}
.back {
  background-color: #00d811;
  width: 150px;
  height: 150px;
  margin: auto;
  border: 3px solid white;
  border-radius: 35px;
}