.front {
  background-color: white;
  width: 200px;
  height: 200px;
  margin: auto;
  border: 3px solid white;
  border-radius: 35px;
}
.back {
  background-color: #00d811;
  width: 200px;
  height: 200px;
  margin: auto;
  border: 3px solid white;
  border-radius: 35px;
}
