.App {
  max-width: 1250px;
  margin: auto;
  text-align: center;
}
.memory-match {
  color: white;
  margin: 20px auto;
  font-size: 50px;
  font-weight: bold;
}
.cards {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
